/* 设置窗口的拖拽区域 */
body {
  -webkit-app-region: drag;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url(./bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.wrapper {
  display: flex;
  height: 100vh;
}

/* for drag */
.wrapper::before {
  -webkit-app-region: drag;
  content: "";
  display: block;
  height: 1rem;
  background-color: rgb(0 0 0 / 16%);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#time-container,
#yuque-editor {
  margin-top: 1rem;
  height: clac(100vh - 1rem);
  width: 50vw;
}

#time-container {
  user-select: none;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-shadow: 0 2px 6px rgb(0 0 0 / 16%);

  /* background: url(./we.png);
    background-repeat: no-repeat;
    background-size: cover; */
}

#date,
#day {
  font-size: calc(5vw);
  margin: 0;
}

#current-time {
  font-size: calc(8vw);
  margin: 0;
}

/* 语雀编辑器头部栏 */
.ne-ui {
  /* 隐藏 */
  display: none;
  background-color: white;
}

/* 设置 #yuque-editor 区域不可拖拽，否则光标会丢失。 */
#yuque-editor {
  -webkit-app-region: no-drag;
}

/* 设置 yuque 编辑器透明背景 */
.ne-editor,
.ne-layout-mode-fixed .ne-editor-wrap-box,
.ne-layout-mode-adapt .ne-editor-wrap-box {
  background-color: transparent;
}

.ne-layout-mode-fixed .ne-editor-wrap,
.ne-layout-mode-adapt:not(.ne-simple-ui, .ne-small-ui) .ne-editor-wrap {
  /* overflow: hidden; */
}
